<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link href="http://ohsmsw5ly.bkt.clouddn.com/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/bootstrap.min.js"></script>
    <link href="/stylesheets/console.css" rel='stylesheet' type='text/css' />
    <script src="http://ohsmsw5ly.bkt.clouddn.com/js/vue.min.js"></script>
    <script src="http://ohsmsw5ly.bkt.clouddn.com/js/vue-resource.min.js"></script>
</head>
<body>
<div class="panel panel-default" id="comment">
    <div class="panel-heading glyphicon glyphicon-pencil" style="width: 100%">评论管理</div>
    <div class="panel-body">
        <p class="nav_button">
            <button type="button" class="btn btn-info glyphicon glyphicon-ok"><span>全选</span></button>
            <button type="button" class="glyphicon glyphicon-trash btn btn-danger"><span>删除</span></button>
        </p>
        <table class="table table_center">
            <thead>
            <tr>
                <th>ID</th>
                <th>关键字</th>
                <th>文章标题</th>
                <th>日期</th>
                <th>评论数</th>
                <th>阅读量</th>
                <th>点赞数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody v-for="item in articles">
            <tr>
                <td><input type="checkbox">{{item.index}}</td>
                <td>{{item.keyword}}</td>
                <td>{{item.title}}</td>
                <td>{{item.date}}</td>
                <td>{{item.comment}}</td>
                <td>{{item.reads}}</td>
                <td>{{item.prise}}</td>
                <td><button class="btn btn-info">编辑</button><button class="btn btn-danger">删除</button></td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li :class="{disabled:IsDisabled}"><a href="javascript:;" @click="GetNoteContent(1)">&laquo;</a></li>
                <li><a href="javascript:;" @click="PageUp(-1)">上一页</a></li>
                <li :class="{active:item.IsActive}" v-for="item in pageItems" @click="PageTurning(item)"><a href="javascript:;">{{item.pagCount}}</a></li>
                <li><a href="javascript:;" @click="PageUp(1)">下一页</a></li>
                <li><a href="javascript:;" @click="PageUp(0)">&raquo;</a></li>

            </ul>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#comment',
        data: {
            articles:[
                {index:'1',keyword:'nodejs',title:'用Promise重构Nodejs异步代码',
                    date:'2016-10-11',prise:'3',reads:'11',comment:'11'},
                {index:'2',keyword:'cookie',title:'以Cookie的方式存储背景色+百度分享',
                    date:'2016-10-11',prise:'4',reads:'21',comment:'21'}
            ],
            message: 'Hello Vue!',
            IsDisabled:false,
            pageItems:[
                {pagCount:1,IsActive:true}

            ]
        },
        created:function(){
            //this.GetNoteContent();
        },
        methods:{
            GetNoteContent:function(pageNum){
                var page=pageNum||1
                this.$http.post('/api/GetNote',{page:page}).then( function(response) {
                    this.showLoadNote=false
                    this.items=response.data.list;
                    this.pageItems=[]
                    for(var i=0;i<response.data.pageCount;i++){
                        var pagCounts={pagCount:i+1,IsActive:false};
                        this.pageItems.push(pagCounts)
                    }
                    this.pageItems[page-1].IsActive=true
                    // this.$set('gridData', {a:2})
                }, function (response) {
                    this.showLoadNote=false
                    /* this.$message({
                     type: 'error',
                     message: '数据库连接超时,查询失败!'
                     });*/
                    console.log(response)
                })
            },
            PageTurning:function(item){
                this.showLoadNote=true
                for(var j=0;j<this.pageItems.length;j++){
                    this.pageItems[j].IsActive=false
                }
                item.IsActive=!item.IsActive
                this.GetNoteContent(item.pagCount);
            },
            PageUp:function(type){
                //上一页
                this.showLoadNote=true
                if(type==-1){
                    for(var k=0;k<this.pageItems.length;k++){
                        if((this.pageItems[k].IsActive==true)&&(this.pageItems[k].pagCount>1)){
                            this.pageItems[k].IsActive=false
                            this.pageItems[k-1].IsActive=true
                            this.GetNoteContent(this.pageItems[k-1].pagCount);
                        }
                    }
                }
                //下一页
                if(type==1){
                    for(var k=0;k<this.pageItems.length;k++){
                        if((this.pageItems[k].IsActive==true)&&(this.pageItems[k].pagCount<this.pageItems.length)){
                            this.pageItems[k].IsActive=false
                            this.pageItems[k+1].IsActive=true
                            this.GetNoteContent(this.pageItems[k+1].pagCount);
                        }
                    }
                }
                //最后一页
                if(type==0){
                    for(var k=0;k<this.pageItems.length;k++){
                        if((this.pageItems[k].IsActive==true)&&(this.pageItems[k].pagCount<this.pageItems.length)){
                            this.pageItems[k].IsActive=false
                            this.pageItems[this.pageItems.length-1].IsActive=true
                            this.GetNoteContent(this.pageItems.length);
                        }
                    }
                }
            }

        }
    })
</script>
</html>