<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Csq | 个人博客</title>
  <!-- Bootstrap -->

  <link href="http://ohsmsw5ly.bkt.clouddn.com/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/bootstrap.min.js"></script>

<style>
  .center{
    text-align: center!important;
  }
</style>
  <script>

    $(function() {
      var pull = $('#pull');
      menu = $('nav ul');
      menuHeight	= menu.height();
      $(pull).on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
      });
      $(window).resize(function(){
        var w = $(window).width();
        if(w > 320 && menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });
  </script>
  <!----font-Awesome----->

  <link rel="stylesheet" href="/fonts/css/font-awesome.min.css">

</head>
<body>
<!-- 导航条-->
<div id="navigationBar">
  <div class="header_bg" id="home"><!-- start header -->
    <div class="container">
      <div class="row text-center col-md-12">
        <nav class="top-nav">
          <ul class="top-nav nav_list">
            <!--<li><a><img src="/images/logo1.png"></a></li>-->
            <li><a><img style="height: 42px" src="/images/logo-new2.png"></a></li>
            <li><a href="#">文件夹 <span class="sr-only">(current)</span></a></li>
            <li class="page-scroll"><a href="/blog">关于</a></li>
            <li class="logo page-scroll"><a href="/blog"><img src="/images/logo.png" alt="" class="responsive"/></a></li>
            <li class="page-scroll"><a href="/blog">博客</a></li>
            <li class="page-scroll"><a href="#contact">联系我</a></li>
            <!--<li class="page-scroll"><a style="color: rgb(50,50,50);">联系我哦&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;池圣齐</a></li>-->
          </ul>
          <a href="#" id="pull"><img src="/images/nav-icon.png" title="menu" /></a>
        </nav>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  </div>


<hr class="divider">
<!--内容管理部分-->

<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#article" role="tab" data-toggle="tab">文章管理</a></li>
    <li role="presentation"><a href="#comment" role="tab" data-toggle="tab">评论管理</a></li>
    <li role="presentation"><a href="#message" role="tab" data-toggle="tab">留言管理</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="text-center" style="float: right">
      <div class="from_search">
        <form class="form-inline" role="form" action="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="输入关键字">
            <!--<button type="submit" class="btn btn-default col-md-3">查询</button>-->
            <input type="submit" class="btn btn-default form-control" value="查询">
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane active" id="article">
      <table class="table center table-hover">
        <thead>
        <tr>
          <th class="center">序号</th>
          <th class="center">文章标题</th>
          <th class="center">日期</th>
          <th class="center">阅读数</th>
          <th class="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <td>1</td>
        <td>nodejs</td>
        <td>2016-12-15</td>
        <td>111</td>
        <td><a>编辑|</a><a>删除</a></td>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="comment">222</div>
    <div class="tab-pane" id="message">333</div>
  </div>


</div>


</body>

</html>