<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Csq | 个人博客</title>
    <!-- Bootstrap -->

    <link href="http://ohsmsw5ly.bkt.clouddn.com/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://ohsmsw5ly.bkt.clouddn.com/js/bootstrap.min.js"></script>
    <link href="/stylesheets/console.css" rel='stylesheet' type='text/css' />
    <script src="/javascripts/vue.js"></script>

</head>
<div id="app">
     <div style="background: url('/images/bg.jpg') no-repeat 0 -1000px;">
         <img src="/images/me.jpg" alt="" class="img-circle nav_head">
         <span class="nav_font">后台管理中心</span>
         <span class="nav_buttonTop">
             <button type="button" class="btn btn-success" @click="jumpVue">前台首页</button>
             <button type="button" class="btn btn-info">清除缓存</button>
             <button type="button" class="btn btn-danger" @click="jumpVue">退出登录</button>
         </span>
     </div>

<div class="col-md-2">
    <div class="panel panel-primary" style="margin-bottom: 0">
        <div class="panel-heading">
            <h3 class="panel-title glyphicon glyphicon-list"><span style="margin-left: 10px">菜单列表</span></h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title glyphicon glyphicon-user"><span style="margin-left: 10px">基本设置</span></h3>
        </div>
        <div class="panel-body" >
            <div v-for="item in items">
                <div class="panel glyphicon glyphicon-chevron-right panel_list">
                    <a href="{{item.href}}" @click="changeTitle(item.title)" target="content" style="margin-left: 10px;color:#475669">
                        {{item.title}}
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="border-top: 1px solid #0BB1A8">
            <h3 class="panel-title glyphicon glyphicon-edit"><span style="margin-left: 10px">编辑排版</span></h3>
        </div>
        <div class="panel-body">
            <div class="panel glyphicon glyphicon-chevron-right panel_list">
                <a href="log" target="content" style="margin-left: 10px;color: #475669" @click="this.title='日志编写'">日志编写</a>
            </div>
            <div class="panel glyphicon glyphicon-chevron-right panel_list">
                <a href="log"  target="content" style="margin-left: 10px;color: #475669" @click="this.title='留言编写'">留言编写</a>
            </div>

        </div>
    </div>
</div>
    <!--右侧编辑区-->
<div class="col-md-10">
    <ol class="breadcrumb" style="margin-top: 10px;">
        <li ><a class="glyphicon glyphicon-home" href="blog"></a></li>
        <li ><a href="blog" >基本设置</a></li>
        <li class="active">{{title}}</li>
    </ol>

    <iframe scrolling="auto" frameborder="0" src="article" name="content" width="100%" height="100%"></iframe>
</div>
</div>
</body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items:[
                    {title:'网站设置',href:'info.html'},
                    {title:'文章管理',href:'article'},
                    {title:'留言管理',href:'note'},
                    {title:'评论管理',href:'comment'}
                ],
                message: 'Hello Vue!',
                title:'文章管理'
            },
            methods:{
                changeTitle:function(title){
                    this.title=title
                },
                jumpVue:function(){
                    window.location.href="blog"
                }
            }
        })
    </script>
</html>