<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Csq | 个人博客</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/index.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->

    <!--  <script src="/javascripts/html5shiv.js"></script>
      <script src="/javascripts/respond.min.js"></script>-->

    <link href="/stylesheets/github-markdown.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/prism.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>



    <!----font-Awesome----->





</head>
<body>
<div class="markdown-body">
    <div class="btn-group" style="width: 500px;">
        <button type="button" class="btn btn-default" style="float: right">
            <span class="glyphicon glyphicon-bold"></span>加粗
        </button>
    </div>
    <%- text%>
</div>


</body>

</html>
