html {overflow-y: scroll;font-family: "Microsoft YaHei",Arial, Verdana, sans-serif;}
body,div,button, input, select, textarea,span,p,a{font:14px/1.5 "Microsoft YaHei",Arial,  Verdana, sans-serif;}
.nav_button{
    margin-left: 20px;
}
.nav_buttonTop button{
    margin-left: 10px;
}
.nav_button button{
    margin-left: 10px;
   font-family: 'Glyphicons Halflings',serif;
}
.nav_button button span{
    margin-left:5px;
    line-height: 20px;
}
.nav_head{
    width: 50px; height: 50px;
    margin: 10px;
}
.nav_font{
    font-size: 24px; line-height: 70px;
    color: white;
}
.table_center{
    text-align: center
}
.table_center tbody tr td{
    text-align: center
}
.table_center thead tr th{
    text-align: center
}
.pagination li a{
    padding: 10px 16px;
}

.panel_list:hover{
    background-color: #EFF2F7;
    width: 100%
}
.zp_list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;

}
.zp_list li{

    list-style: none;
    float: left;
    padding: 5px;

}
.zp_list li img{
    width: 270px;
    height: 230px;
    overflow: hidden;
}
.zp_list li p{
    margin-top: 10px;
    margin-left: 5px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.nav_text{
    line-height:42px;font-weight: bold;
    text-indent:5px;letter-spacing:2px;
    font-size: 20px;margin-right: 80px;margin-left: 30px!important;
}
.carousel_img{
    margin: 0 auto;height: 364px!important;
}
.dialog{
    font:14px/1.5 "Microsoft YaHei",Arial,  Verdana, sans-serif;
    width: 30% ; position: absolute;left: 35%;
    top:15%;background-color:white;
    border-radius: 5px;
    color: #475669;
}
.close{
    float: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
.close:hover{
    color: #20a0ff;
}
.dialog_header{
    padding: 20px;


}
.dialog_header_title{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
.dialog_body{
    padding: 30px 20px;
}
.dialog_footer{
    padding: 10px 20px;
    float: right;
}
.dialog_footer_undo{
    list-style: none;
    border:1px solid #C0CCDA;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 8px 15px;

}
.dialog_footer_undo:hover{
    color:  #20a0ff;
    border-color:  #20a0ff;
}
.dialog_footer_submit{
    list-style: none;
    border: none;
    border-color: #20a0ff;
    background-color: #20a0ff;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    margin-left: 10px;
}
.dialog_footer_submit:hover{
    background-color: #58b7ff;
}
#mask{
    position: fixed;z-index: 999;top: 0;left: 0;
    width: 100%;height: 100%;background-color: #475669;
    opacity:0.5;display:block;
}